<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School DashBoard</title>
</head>
<body>
    <h1>School DashBoard</h1>
    <form method="post">
        Add std : <input type="text" name="std"><br><br>
        Add div : <input type="text" name="div"><br><br>
        <input type="submit" name="save">
    </form>
</body>
</html>