<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
</head>

<body>
    <h4>
        <%=data.name%>'s dashboard
    </h4>
    <h5>
        std=<%=data.sstd%>
    </h5>
    <h5>
        div=<%=data.sdiv%>
    </h5>
    <button onclick="location.href='/empLogin'">logout</button>
    <button onclick="location.href='/StudentList'">StudentView</button>
    <button onclick="location.href='/ResultList'">view result</button>
</body>

</html>