<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
</head>

<body>
    <h4>Employee Login</h4>
    <form method="post">
        Enter email : <input type="text" name="email"><br><br>
        Enter password : <input type="password" name="password"><br><br>
        <input type="submit" name="save">
        <button onclick="location.href='/'">back</button>
    </form>
</body>

</html>